body {
  font-size: 80%;
  margin: 8rem 0 0 0;
}

table {
  border-collapse: collapse;
  background: #ddd;
}

th,
td {
  border: 0.1rem solid #555;
  padding: 0.4rem;
  min-width: 10rem;
}

th {
  background: #bbb;
}

code {
  white-space: nowrap;
  background: #eee;
}

header {
  position: fixed;
  top: 0;
  background: #999;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 0.1rem solid #333;
}

h1 {
  margin-top: 0;
}

section {
  padding: 0.5rem 1rem;
}

footer {
  margin-top: 4rem;
  padding: 0.2rem 1rem;
  border-top: 0.1rem solid #000;
  font-size: smaller;
}

#import_form {
  display: inline-block;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

#export_form {
  display: inline-block;
  margin-left: 2em;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

#check_all_form {
  float: right;
  display: inline-block;
  margin-left: 2em;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

#result {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  padding: 0.5rem;
  color: #fff;
  background: #3d6c4e;
}

.centered {
  text-align: center;
}

.specific {
  background: #97caa8;
}
