<!DOCTYPE html>
<html lang="fr-FR" xml:lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>

    <link rel="schema.dcterms" href="http://purl.org/dc/terms/"/>
    <meta name="dcterms.modified" content="<%= modified %>"/>

    <title>Autoévaluation | JSAU</title>
  </head>
  <body>
    <header>
      <h1>Autoévaluation JSAU</h1>
      <form id="import_form">
        <input type="file" name="import_file" id="import_file"
               accept="application/json"/>
        <button id="import-button">Import</button>
      </form>
      <form id="export_form">
        <button id="export-button">Export</button>
      </form>
      <form id="check_all_form">
        <button id="toggle-all-button">Tout cocher/décocher</button>
      </form>

      <div id="result">
        Note : <span id="result-value">0</span>
      </div>
    </header>

    <div id="sections"></div>

    <footer>
      <p>Dernière modification le <%= modified_human %></p>
      <p><a href="https://gitlab.com/aful/jsau-autoevaluation">Code source : https://gitlab.com/aful/jsau-autoevaluation</a></p>
    </footer>

  </body>
</html>
